@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@700&family=Lobster&family=Montserrat:wght@200&family=Raleway:wght@800&family=Satisfy&family=Tajawal:wght@200&display=swap');

.navStart {
    background-color: rgb(62, 61, 61);
}

.title {
    font-family: 'Goldman';
    padding-left: 50px;
    padding-top: 5px;
    color: aliceblue;
    size-adjust: large;
}

.headLine {
    font-family: 'Tajawal', sans-serif;
    color: aliceblue;
    padding-left: 50px;
    padding-top: 13px;
}

.faceBook {
    padding-left: 275px;
    padding-top: 8px;
}

.faceButton {
    border-radius: 16px;
    color: blue;
}

.modal {
    display: none;
}

/* .button {
    background: coral;
    padding: 1em 2em;
    color: aliceblue;
    border: 0;
}

.button:hover {
    background: rgb(82, 81, 81);
} */
 